.tcontainer {
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  width:100%;
  max-width:100vw;
  @mixin atMd {
   /* margin-left: 0; */
   padding: 0 0;
   width:738px;
   width:calc(100% - resolve($marginSizeMd * 2));
   /* max-width:760px; */
  }
  @mixin atMdlg {
   /* width:100%; */
   max-width: 1300px!important;
   /* max-width:900px; */
  }
  @mixin atLg {
   /* max-width:1300px; */
  }
  @mixin atXxl {
   /* max-width:1300px; */
  }
}
.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 2.5rem 0;
}

.p-top-small {padding-top: 1rem}
.p-top-large {padding-top: 1.6rem}
.p-bottom-large {padding-bottom: 1.6rem}
@mixin atSmmd {
  .p-top-large {padding-top: 2.5rem}
  .p-bottom-large {padding-bottom: 2.5rem}
}
@mixin atMd {
 .p-top-large {padding-top: 2.5rem}
 .p-bottom-large {padding-bottom: 2.5rem}
}
.no-margin {margin: 0}
.nu {text-decoration: none}
.nu:hover {text-decoration: underline}
.t-left {text-align: left}
.t-right {text-align: right}
.t-center {text-align: center}
.t-small {font-size: .85rem}
.float-left {float: left}
.float-right {float: right}
.push-right {margin-right: 20px}
.tcontainer:before, .tcontainer:after, .group:before, .group:after { content: " "; display: table; }
.tcontainer:after, .group:after { clear: both; }
.hide { display: none; }

.twitter-timeline--container {
 iframe {
  max-width:100%!important;
 @mixin uptoMd {
  width:100%!important;
  max-width:100%!important;
  /* min-width:240px!important; */
  overflow-x:hidden;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display:block;
 }
}
}
.twitter-timeline {
 @mixin atMd {
  border-left:1px solid rgba(15,70,100,.12)!important;
 }
}
