.aws-submitresume—page {
 margin-bottom: 3rem!important;
 #MainContent_divupload > div:last-child {
  background-color: $mist;
  padding: resolve($gridgap * 2) $gridgap!important;
  @mixin atTn { padding: resolve($gridgap-tn * 2) $gridgap-tn!important; }
  @mixin atSmmd { padding: resolve($gridgap-smmd * 2) $gridgap-smmd!important; }
  @mixin atMd { padding: resolve($gridgap-md * 2) $gridgap-md!important; }
 }
}
#MainContent_divupload {
 div:not(:first-child) + br {
  display:none;
 }
 #MainContent_generalResume {
  & > div + div {
   background-color: $mist;
  }
  padding-top:1rem;
  font-size:$fontsize3;
  font-family:$fontfam3;
  line-height: 1.25;
  @mixin atSmmd {
   font-size:$fontsize4;
   padding-top:2rem;
  }

 }
 label {
  position:relative;
  display:block;
  padding-bottom: 0.3125rem;
  @mixin atMd {
   padding-bottom: 0.1875rem;
  }
 }
 input {
 }
 #MainContent_divFileUpload + br,
 br + br {
  display:none;
 }
 #btnApply {
  input {
   background-color: black;
   color: $primary;
   margin:0;
   width:100%;
   /* height:$inputheight!important; */
   @mixin atTnsm {
    /* height:$inputheight-sm!important; */
    min-width:$inputheight-sm;
   }
   @mixin atSmmd {
    /* height:$inputheight-smmd!important; */
    min-width:$inputheight-smmd;
   }
   @mixin atMd {
    /* height:$inputheight-md!important; */
    min-width:$inputheight-md;
    padding:0.1875rem 0.5rem 0 0.5rem;
   }
  }
 }
 #btnApply input,
 input,
 label,
 span[id*="_lbl"],
 [id*="RequiredField"] {
  width:100%!important;
  max-width:300px!important;
  position: relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
 }
 [id*="RequiredField"] {
  font-family:$fontfam3;
  text-align: center;
  line-height: 1.33;
  margin-top: 0.375rem;
  margin-bottom: 0.5rem;
  font-size:0;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color:transparent;
  &:after {
   color:$slate;
   font-size:$fontsize0;
   content:'Required';
  }
 }
 #MainContent_FileUpload1 {
  font-size:$fontsize2;
 }
 input[type="file"] {
  line-height: 0;
 }
 input[type="submit"] {
  /* margin-top: 1rem!important; */

 }
}
.aws-submit-resume-upload-file {
 br {display:none;}
}

#MainContent_specjob {
 font-size:$fontsize3a;
 display:inline;
 &:after {
  content:'';
  display:table;
  clear:both;
 }
}
#MainContent_lblJobCode {
 font-family:$fontfam3;
 display:inline!important;
}

/* font-size:$fontsize1; */

[id*="MainContent_RequiredFieldValidator"] {
 font-size:$fontsize0;
 /* visibility:visible!important; */
 margin-bottom: 0.25rem;
 padding-top:0.125rem;
 color:$slate;
 display: block;
 /* height:0; */
 overflow:visible;
}
[id*="MainContent_RequiredFieldValidator"] [style*="visibility:visible"] {
 height:auto;
}
#MainContent_div_submit_resume_upload_file,
#MainContent_div_submit_resume_info {
 input[type="submit"] {
  margin-left: 0!important;
 }
}
#MainContent_div_submit_resume_info_title_not_registered {
 line-height: 1.2;
}

#MainContent_div_submit_resume_info {
 ul {
  margin:0.5rem 0 0 0;
  padding:0;
  list-style-type: none!important;
  margin-left: 1rem!important;
  letter-spacing:$letterspacing;
  font-size:$fontsize1;
  @mixin atSmmd { margin-left: 4ex; padding-right:4ex;}
  @mixin atMd { font-size:$fontsize1b; }
  @mixin atLg { margin-left: 4.75ex; padding-right:4.75ex;}
  li {
   color:$slate;
   line-height:$bodycopylineheight;
   @mixin atMd {
    line-height:$bodycopylineheight-md;
   }
   &:before {
    content:'•';
    font-size:133%;
    color:$primary;
    color:$primary-dark;
    position:absolute;
    left:-0.0625ex;
    display:block;
    margin-top:-0.6ex;
    /* @mixin atSmmd { left:1.5ex; } */
    /* @mixin atLg { left:2.25ex; } */
   }
   & + li {
    margin-top:0.5ex;
   }
  }
 }
}
.aws-submitresume—page .aws-resumesubmit--jobinfo {
 display:flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 flex-direction: row;
 .aws-jobdetails--jobcode-title,
 .aws-resumesubmit--location,
 .aws-resumesubmit--posteddate,
 .aws-resumesubmit--location {
  padding-top:0.5rem;
  margin-bottom: 0;
  float:none;
  @mixin atSm { float:left; }
  &, span {
   color:$slate;
  font-family:$fontfam2!important;
  font-size:1rem;

 }
 }
 .aws-resumesubmit--details { display:none; }
 .aws-resumesubmit--desc,
 .aws-resumesubmit--title {
  width:100%;
  flex:1 auto;
 }
}
.aws-resumesubmit--location,
.aws-jobdetails--jobcode-title,
.aws-resumesubmit--posteddate {
 text-align: left;
&:before {
 position: relative;
 bottom:-0.25rem;
 margin-right:0;
 font-family:'aws_icons';
 font-size:1.75rem;
 content:'\e828';
}
}
.aws-resumesubmit--location:before {content:'\e829';}
.aws-jobdetails--jobcode-title {
 order:5;
 &:before {
  content:'\e80a';
  .aws-jobdetails-—content & {
   content:none;
  }
 }
}
.aws-resumesubmit--posteddate:before {content:'\e828';}


#MainContent_divThankyou {
 display:block;
 position: relative;
 @mixin atMd {
  float:right;
  width:50%;
 }
 &:after {
  content:'';
  display:table;
  clear:both;
 }
 b {
  font-family:$fontfam1;
  font-weight:normal;
 }
 p {
  font-size:$fontsize2;
  margin-bottom:0.25rem;
 }
 p:first-child {
  font-family:$fontfam3;
  font-size:$fontsize3;
  margin-bottom:0.5rem;
 }
 a {
  letter-spacing:$letterspacing;
  /* font-family:$fontfam4; */
  font-weight:normal;
  text-decoration:none;
  padding-bottom: 0.125rem;
  display:inline-block;
  position: relative;
  color: $slate!important;
  &:hover, &:active, &:focus {
   color:black;
  }
  &:before {
   content:'';
   position:absolute;
   left:0;
   bottom:0.125rem;
   width:100%;
   height:2px;
   background-color: $primary-dark;
   display:inline-block;
  }
 }
}

#MainContent_divExistingFile {
 input[id="MainContent_chkBoxExistingResume"] {
  display:inline-block;
  margin-right: 0.5rem;
  float:left;
 }
 #MainContent_lblExistingResume {
  font-family:$fontfam2;
  padding:1.75rem 0.5rem 0 0.5rem;
  margin-bottom: 1rem;
  left:1.5rem;
  height:2.25rem;
  background-color: $fog;
  display:inline-block;
  width:auto;
  position: relative;
  line-height: 2.5rem;
 }
}
