.aws-login—page {
 #signin {
  & > div > input[type="submit"] {
   background-color: $primary;
   border-radius:2rem!important;
   width:auto;
   padding-left:1.5rem;
   padding-right:1.5rem;
   cursor:pointer;
  }
  margin-top:resolve($gridgap / 2);
  margin-bottom:$gridgap;
  @mixin atTn {
   margin-top:resolve($gridgap-tn / 2);
   margin-bottom:$gridgap-tn;
  }
  @mixin atSmmd {
   margin-top:resolve($gridgap-smmd / 2);
   margin-bottom:$gridgap-smmd;
  }
  @mixin atMd {
   margin-top:resolve($gridgap-md / 2);
   margin-bottom:$gridgap-md;
  }
 }
 .aws-login--form {
  margin-top:1rem;
  padding-right:0;
  #MainContent_lblRegister {
   font-family:$fontfam4;
   text-align: left;
   @mixin atTn {
    margin-top:2rem;
    margin-bottom: 0;
   }
  }

    #loginwidgets,
  #forgotten {
   padding-bottom: 0.5rem;
   @mixin atSmmd {
    position:absolute;
    bottom:0;
    right:0;
   }
   @mixin atMd {
    right:calc(50% + resolve($gridgap-md / 2));
    margin-bottom: 0;
   }
  }
 }
}
#MainContent_logininput {

 @mixin atMd {
  width:50%;
  width:calc(50% - resolve($gridgap * 1));
  @mixin atTn {width:calc(50% - resolve($gridgap-tn * 1));}
  @mixin atSmmd {width:calc(50% - resolve($gridgap-smmd * 1));}
  @mixin atMd {width:calc(50% - resolve($gridgap-md * 1));}
  /* right:calc(50% + resolve($gridgap-md / 2));
  margin-bottom: 0; */
 }
}
.aws-login-logout {
 padding-top:$gridgap;
 @mixin atSmmd {
  padding-top: 0;
 }
 #MainContent_lnkbLogout {
margin:resolve($gridgap * 1) 0;
@mixin atTn {margin:resolve($gridgap-tn * 1) 0;}
@mixin atSmmd {margin:resolve($gridgap-smmd * 1) 9;}
@mixin atMd {margin:resolve($gridgap-md * 1) 0;}
  }
 br {
  content:'';
  margin-top:1rem;
 }
}

#MainContent_logininput[class*='login--form-failure'] {
 .aws-login--form-failure > p:first-child {
  background-color: black;
  &:after {
   margin-left: -0.5ex;
   content:'; please try again';
  }
  font-family:$fontfam2;
  color:$primary;
  line-height: 1;
  padding:resolve($gridgap * 2) resolve($gridgap * 2) resolve($gridgap * 1.5) resolve($gridgap * 2);
  margin-bottom:$gridgap;
  @mixin atTn {
   padding:resolve($gridgap-tn * 2) resolve($gridgap-tn * 2) resolve($gridgap-tn * 1.5) resolve($gridgap-tn * 2);
   margin-bottom:resolve($gridgap-tn * 2);
  }
  @mixin atSmmd {
   padding:$gridgap-smmd $gridgap-smmd resolve($gridgap-smmd * 0.75) $gridgap-smmd;
   margin-bottom:$gridgap-smmd;
  }
  @mixin atMd {
   padding:$gridgap-md $gridgap-md resolve($gridgap-md * 0.75) $gridgap-md;
   margin-bottom:$gridgap-md;
  }
 }
}

#MainContent_ForgotPasswordHyperLink {
 font-family:$fontfam3;
 margin-bottom:resolve($gridgap * 1); 
 @mixin atTn {margin-bottom:resolve($gridgap-tn * 1);}
 @mixin atSmmd {margin-bottom:resolve($gridgap-smmd * 1);}
 @mixin atMd {margin-bottom:resolve($gridgap-md * 1);}
}
