.header-container-wrapper {
 position: relative;
 overflow:visible!important;
 z-index:100;
}
.aws-menu {

 display:none!important;
 position: relative;
 max-width:$maxwidth-lg;
 margin-right: auto;
 margin-left: auto;
 overflow:visible;
 @mixin atMd {
  display:block!important;
 }
 &.menu-active {
  display:block!important;
 }
 .hs_cos_wrapper {
  &:after {
   display:table;
   clear:both;
   content:'';
  }
 }
 .aws-page .hs_cos_wrapper_type_menu {
  display:block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow:visible;
  @mixin atTnsm {
  }
  @mixin atMd {
   float:right;
   display:flex;
   align-items:flex-end;
   justify-content:center;
   padding-right: $menumargin;
  }
  @mixin atMdlg {
  }
  @mixin atLg {
   max-width:none;
  }
  &:after {
   display:table;
   clear:both;
   content:'';
  }
 }
 .hs-menu-flow-horizontal {
  /* can be used as safety inset if flex not available */
  margin:0;
 }
 .widget-type-logo {
  position: absolute;
  overflow:visible;
 }
 .header-container-wrapper {
  z-index:-1;
  .row-number-1 {
   z-index:10;
   position: fixed;
   top:0;
   left:0;
   border-bottom:$rulewidth solid $primary;
   background-color: white;
   max-height:$naviconsize;
   @mixin atMd {
    position: relative;
    max-height:none;
   }
  }
  .row-number-5 {
   /* row containing script; do not display */
   display:none!important;
  }
 }
 .hs-menu-wrapper {
  display:block;
  position: relative;
  left:auto;
  top:$naviconsize;
  top:resolve($naviconsize/2 + 0.25rem);
  background-color: transparent;
  right:0;
  width:100%;
  margin-right:-resolve($menumobilewidth);
  transition: $transitionall-slow;
  @mixin atMd {
   margin-right: 0;
   display:block;
   padding:0;
   top:auto;
   right:auto;
   position: relative;
   text-align: right;
  }
  & > ul { display:block; }
  ul {
   overflow:visible;
   display:block;
   position: relative;
   margin:0;
   padding:0;
   list-style-type: none;
   @mixin atTnsm {
   }
   @mixin atMd {
    display:flex;
    width:100%;
    flex-direction:row;
    align-items:center;
    justify-content: flex-end;
    flex-basis: 1 0 auto;
   }
  }
 }
 .hs-menu-item {
  overflow:visible;
  line-height:1.2;
  position: relative;
  a {
   display:block;
   align-items:center;
   z-index:10;
   line-height: 1.2;
   position: relative;
   /* background-color: white; */
   color: $slate;
   transition: $transitionall;

   @mixin atMd {
    display:flex;
    flex-shrink:1;
    padding:0;
    padding:$menuinset $menuinset $menuinset $menuinset;
    min-width:none;
    margin:0;
   }
   @mixin atMdlg {
    padding:$menuinset $menuinset $menuinset $menuinset;
   }
  }

  &:hover > a {
   color:black;
  }
  &:first-child {
   /* padding-top:resolve($menuinset / 2); */
  }
  & + .hs-menu-item {
   padding-top:resolve($menuinset / 2);
   padding-bottom:resolve($menuinset / 2);
   &:before {
    content:'';
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:100%;
    height:1px;
    background-color: $charcoal;
    left:calc(0px + $menuinset);
    width:calc(100% - $menuinset - $menuinset);
   }
   &:last-child { padding-bottom:0; }
   @mixin atMd {
    content:none;
    padding-top:0;
    padding-bottom:0;
   }
  }
 }
 .hs-menu-wrapper > ul {
  z-index:10;
  position: relative;
  & > li {
   & > a {
    font-weight:500;
    /* max-width:5.5rem; */
    text-align: left;
    padding:$menumarginvertical-tn $menuinset $menumarginvertical-tn $menuinset;
    @mixin atTnsm {
    }
    @mixin atSmmd {
     max-width:none;
    }
    @mixin atMd {
     text-align: center;
     padding:$menumarginvertical-md $menuinset-md $menumarginvertical-md $menuinset-md;
     max-width:none;
     height:$menuheight-md;
    }
    @mixin atLg {
     padding:$menumarginvertical $menuinset $menumarginvertical $menuinset;
    }
   }
   &:last-child { padding-right:0.75rem }
   &:nth-last-child(4) {
    border:2px solid red;
   }
   &:nth-last-child(1),
   &:nth-last-child(2),
   &:nth-last-child(3),
   &:nth-last-child(4),
   &:nth-last-child(5)
   {
    a {
     @mixin atMd {
      padding-left: resolve($menuinset / 4);
      padding-right: resolve($menuinset / 4);
     }
    }
   }
   &:nth-last-child(5) {
    @mixin atMd {
     padding-left:resolve($menuinset * .75);
    }
   }
   &:last-child {
    margin-left: 0;
    @mixin atMd {
     /* margin-left: 0.625rem; */
    }
   }
  }
 }
 .hs-menu-depth-1:hover {
  position: relative;
  ul {
   position: absolute;
   top:100%;
   left:50%;
   transform:translateX(-50%);
   box-shadow:$menushadow;
   li {
    position:relative;
    a {
     display:block;
     /* background: white; */
     color: $grey;
     text-align: center;
     &:hover {
      background-color: $primary;
     }
    }
   }
  }
 }
 .nav-icon-search,
 .nav-icon-locate,
 .nav-icon-dashboard,
 .nav-icon-chat,
 .nav-icon-members {
  /* background-color: pink; */
  position:relative;
  display:inline;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  overflow:visible;
  font-size:1rem;
  width:100%;
  padding-left:resolve($naviconsize - $menuinset / 2);
  @mixin atTnsm {
  }
  @mixin atMd {
   display:block;
   text-indent:0;
   width: $naviconwidth-mdlg;
   font-size:0;
   /* width: $naviconwidth-mdlg; */
  }
  @mixin atLg {
   width: $naviconwidth;
  }
  &:before {
   width:100%;
   height:$naviconwidth;
   /* background-color: cornsilk; */
   text-align: center;
   position: absolute;
   left:-resolve($naviconsize * 0.2 );
   top:-resolve($naviconsize/4);
   bottom:auto;
   font-size:$naviconsize;
   font-family:'aws_icons';
   font-weight:normal;
   text-align: left;
   @mixin atMd {
    left:0;
    top:auto;
    bottom:-resolve($naviconwidth / 4.625);
    text-align: center;
    position: absolute;
   }
  }
 }
 /* .nav-button-members {
 position:relative;
 display:block;
 } */
 .nav-icon-search {
  @mixin atMd {
   padding-left: $menuinset;
   margin-left:resolve($menuinset * .75);
   &:after {
    position:absolute;
    bottom:-resolve($naviconwidth / 3);
    left:-$menuinset;
    width:1px;
    height:$naviconwidth;
    background-color: $grey;
    content:'';
   }
  }
  &:before { content:'\e808'; }
 }
 .nav-icon-locate {
  &:after { content:attr(data-number); }
  &:before { content:'\e805'; }
 }
 .nav-icon-dashboard { &:before { content:'\e805'; } }
 .nav-icon-chat { &:before { content:'\e80b'; } }
 .nav-icon-members { &:before { content:'\e80f'; } }
 .hs-menu-depth-2 {
  background-color: white;
  &:hover {
   z-index:10;
   position: relative;
   ul {
    z-index:11;
    position: absolute;
    top:0;
    margin-left: $menuwidth;
    li a {
     position: relative;
     background-color:$vapor;
    }
   }
  }
 }

 .hs-menu-depth-1 {
  &.hs-menu-item > a {
   width:$menumobilewidth;
   @mixin atMd {
    width:auto;
    max-width:86px!important;
   }
   @mixin atMdlg {
    max-width:none!important;
   }
  }
  &.hs-menu-item {
   display:inline-block;
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content:center;
   &:before { content:none; }
  }
 }
 .hs-item-has-children ul {
  display:block;
  position:absolute;
  top:0;
  left:0;
  min-width:$menuwidth;
 }
 ul li a + .hs-menu-children-wrapper, .hs-menu-children-wrapper:hover {
  display:none;
 }
 ul .hs-menu-item a:hover + .hs-menu-children-wrapper,
 .hs-menu-children-wrapper:hover {
  display: block;
 }
}
.aws-nav {
 overflow:visible;
 @mixin atXl {
  float:none!important;
  position: relative;
  display: block;
  max-width: $maxwidth-lg;
  margin-left: auto!important;
  margin-right: auto!important;
  & > div:first-child {
   margin-left: -1rem;
  }
  & > div:last-child {
   margin-right: -1rem;
  }
 }
}
body {
 border: 2px solid gold!important;
}
