 .aws-jobsearch-selections {
  .aws-jobsearch--page & {
 padding-top:resolve($gridgap * 1);
 border-top:1px solid $silver;
 @mixin atTn {
  padding-top:resolve($gridgap-tn * 1.5);
 }
 @mixin atSmmd {
  margin-top: 1rem;
  padding-top:resolve($gridgap-smmd * 1);
 }
 @mixin atMd {
  margin-top: 0;
  margin-bottom: -$gridgap-md;
  padding-top:resolve($gridgap-md * 1);
 }
}
}
.aws-jobsearch-selections-button,
.aws-jobsearch-selections-choices {
 input[type="submit"] {
  height:1.875rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  padding-top:0.125rem;
  padding-right: 1.75rem;
  padding-left:0.625rem;
  border:1px solid $silver;
  border-radius:0;
  background-color: white;
  background-position:90% 50%;
  background-position:calc(100% - 0.375rem) 50%;
  background-repeat: no-repeat;
  background-size:1.25rem;
  color:$grey;
  font-family:$fontfam2;
  font-size:$fontsize0a;
  font-weight:normal;
  line-height: 1;
  cursor:pointer;
  transition:all $transtime0 ease-in-out;
  &:hover, &:active {
   border-color:$charcoal;
  }
 }
}

.aws-jobsearch-selections-choices {
 margin-right:0.375rem;
}
.aws-jobsearch-selections-choices {
 z-index:10;
 position: relative;
 /* float:left; */
 &:before {
  display:table;
  clear:both;
  content:'';
 }
 input[type="submit"] {
  background-image:$close_x;
  @mixin edge_ie {
   background-image:$close_x_png;
  }
  &:hover, &:active {
   background-image:$close_x_hover;
   @mixin edge_ie {
    background-image:;

   }
  }
 }
}
/* .aws-jobsearch-selections-button { */
 /* position: relative; */
 /* margin-left: 0; */
 #MainContent_btnResetAll {
  /* background-color: transparent; */
  /* margin-left: 0.25rem; */
  background-image: $action_reset;
  background-position: 97% 50%;
  background-position: calc(100% - 0.375rem) 50%;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  text-transform: uppercase;
  &:hover, &:active {
   background-image: $action_reset_hover;
   @mixin edge_ie {
    background-image: $action_reset_hover_png;

   }
  }
 }
/* } */

.aws-jobsearch--title {
 @mixin atTnsm {
  padding-right:8.5rem;
 }
 &:after {
  display:table;
  clear:both;
  content:'';
 }
 @mixin atMd {
  min-height:3.4375rem;
 }
}
.aws-jobsearch--title-all {
 @mixin atSm {
  float:left;
 }
}

.aws-jobsearch--title-saved,
.aws-jobsearch--title-applied {
 display:inline-block;
 height:$buttonsmallheight;
 margin-left: 0;
 padding:0.5rem 0.75rem 0.125rem 0.75rem;
 border: 1px solid $silver;
 background-color: white;
 cursor:pointer;
 z-index:100;
 border-radius:2rem;
 font-family: $fontfam1;
 font-size:$fontsize0;
 line-height: 1;
 text-transform: uppercase;
 margin-top: 0.75rem;
 /* @mixin ie { background-image:$alert_bell_png; } */
 @mixin atSm {
  margin-top: -0.375rem;
  padding:0.625rem 0.75rem 0.125rem 0.75rem;
  height:$buttonsmallheight-sm;
  margin-left: 0.25rem;
  /* padding:0.3125rem 2.375rem 0 0.75rem; */
 }
 @mixin atSmmd {
  margin-left: 0.875rem;
  /* padding:0.125rem 2.375rem 0 0.75rem; */
  /* font-size:$fontsize1; */
  display:block;
  float:left;
 }
 @mixin atMd {
  height:$buttonsmallheight-md;
  margin: -0.375rem 0 $gridgap-md resolve($gridgap-md * 0.75);
  padding:0.625rem 0.75rem 0.125rem 0.75rem;
 }
 @mixin edge_ie {
  padding:0.375rem 0.75rem 0.375rem 0.75rem;
 }
 span {
  /* font-family:$fontfam3; */
 }
}

#MainContent_divTitle {
 position: relative;
 display: block;
 padding-bottom: $gridgap;
 @mixin atSmmd {
  padding-bottom: 0;
 }
}
.aws-jobinfo-applied--results-buttons,
.aws-jobinfo-applied--results-summary,
.aws-jobinfo-applied--results-preview,
.aws-jobinfo-saved--results-buttons,
.aws-jobinfo-saved--results-summary,
.aws-jobinfo-saved--results-preview {
 padding-left:resolve($gridgap * 1);
 padding-right:resolve($gridgap * 1);
 @mixin atTn {
  padding-left:resolve($gridgap-tn * 2);
  padding-right:resolve($gridgap-tn * 2);
 }
 @mixin atSmmd {
  padding-left:resolve($gridgap-smmd * 1);
  padding-right:resolve($gridgap-smmd * 1);
 }
 @mixin atMd {
  padding-left:resolve($gridgap-md * 1);
  padding-right:resolve($gridgap-md * 1);
 }
}
/* .aws-jobinfo-saved--results-preview { */
.aws-jobinfo-applied--results-preview,
.aws-jobinfo-saved--results-preview {
 line-height: 1.5;
 padding-top:resolve($gridgap * 1);
 @mixin atTn {padding-top:resolve($gridgap-tn * 1);}
 @mixin atSmmd {padding-top:resolve($gridgap-smmd * 1);}
 @mixin atMd {padding-top:resolve($gridgap-md * 1);}
}
.aws-jobsearch--title-saved-div,
.aws-jobsearch--title-applied-div {
 button {
  transition:$transtime all ease-in-out;
  &:focus { outline:none; }
  border:none;
  &:hover, &:active {
   border-color:$slate;
   color:black;
   background-color: $primary!important;
  }
 }
 display:inline-block;
}
.aws-jobsearch--title-applied-div button {
 @mixin atSmmd {
  margin-left:0.25rem;
 }
}
