/* #MainContent_btnDeleteAllAlerts, */
input.hs-button.primary[type="submit"],
.aws-forgot--form input[type="submit"],
#MainContent_btnResumeProfileUpdate,
.aws-dashbaord--resume-profile-buttons input[value="View"],
.updatepanel #MainContent_btnSaveEmailFreq,
#MainContent_btnResumeProfileStart,
.aws-jobinfo-applied--results-buttons input[type="submit"],
#MainContent_div_submit_resume_upload_file input[type="submit"],
#MainContent_div_submit_resume_info input[type="submit"],
.aws-dashbaord--ascontact input[type="submit"][value="Edit"],
#jobalerts-view #MainContent_btnSave,
.aws-dashbaord--changepwd #btnpwdbtn input[type="submit"],
.aws-register-form--register#divregister input[type="submit"],
.aws-login--form #signin input[type="submit"],
.aws-confirm-page input[type="submit"],
.aws-dashbaord--resume-main-apply input[type="submit"] {
 width:auto!important;
 min-width:auto;
 margin:0;
 padding-right:2rem!important;
 padding-left:2rem!important;
 border:none;
 border-radius:4rem!important;
 background-color: $primary;
 cursor:pointer;
 &:active {
  border:none!important;
  background-color: $primary-dark!important;
  color:black!important;
 }
 @mixin atMd { width:auto; }
}

.aws-dashboard--changepwd #btnpwdbtn input[type="submit"],
.aws-dashbaord--changepwd #btnpwdbtn input[type="submit"] {
 margin-top:resolve($gridgap * 1.5);
 @mixin atTn {margin-top:resolve($gridgap-tn * 1.5);}
 @mixin atSmmd {margin-top:resolve($gridgap-smmd * 1.5);}
 @mixin atMd {margin-top:resolve($gridgap-md * 1.5);}
}

.aws-dashbaord--resume-main-apply input[type="submit"] {
 border:none!important;
 background-color: $primary!important;
 color:black!important;
}

#MainContent_lnkbLogout {
 display:block;
 position: absolute;
 top:1.5625rem;
 right:0;
 width:auto!important;
 min-width:auto;
 margin:0;
 padding-top:0.3125rem;
 padding-right:0.625rem!important;
 padding-left:0.625rem!important;
 /* transform:translateY(-50%); */
 border:1px solid $slate;
 border-radius:4rem!important;
 background-color: white;
 color:$slate;
 font-family:$fontfam3;
 white-space: nowrap;
 @mixin atSm {
  padding-right:2rem!important;
  padding-left:2rem!important;
 }
 @mixin atMd {
  width:auto;
 }
 form[action="./Login"] & {
  display: inline-block;
  position: relative;
  top:auto!important;
  min-width: 8rem;
  text-align: center;
  &:before {
   content:none;
  }
 }
}
#MainContent_btnDeleteAllResume,
#MainContent_btnCancelEmailFreq,
#MainContent_btnRemoveExpiredAppliedJobs,
input[value="New saved search"],
#MainContent_btnRemoveExpiredSavedJobs,
#MainContent_btnResumeProfileStart,
.aws-dashbaord--resume-namewithclear input[type="submit"],
/* #jobalerts-view > input[type="submit"], */
input[value="Update emails alerts"],
input[value="Update email alerts"],
#MainContent_btnDeleteAllAlerts,
#MainContent_div_submit_resume_upload_file input[type="submit"],
#MainContent_div_submit_resume_info input[type="submit"],
.aws-dashbaord--ascontact input[type="submit"],
.aws-dashbaord--resume-main-apply input[type="submit"],
.aws-dashbaord-changepwdbtn input[type="submit"],
input[type="submit"][id*="MainContent_JobAlertsSummary_btnView_"],
#MainContent_btnSave,
#MainContent_btnCancel,
input[name*="btnDetail"],
input[value="Remove"],
input[value="Edit"],
input[name*="btnSave"],
input[name*="btnApply"] {
 box-sizing: border-box;
 display:block;
 height:2rem;
 margin: $gridgap resolve($gridgap / 3) 0 resolve($gridgap / 3);
 @mixin atTnsm {
  margin: $gridgap resolve($gridgap / 2) 0 resolve($gridgap / 2);
 }
 padding:0.5rem 0.5rem 0.375rem 0.5rem;
 border-radius: 2rem;
 color:$slate;
 font-family: $fontfam3;
 font-size: $fontsize0;
 font-weight: normal!important;
 line-height: 1;
 cursor:pointer;
 @mixin atSm {
  padding:0.1875rem 0.5rem 0.4375rem 0.5rem;
 }
 /* transition:$transtime0 all linear; */
 .aws-jobalerts-results-buttons &,
 .aws-jobsearch--results-group &,
 .aws-jobsearch--results-group_applied &,
 .aws-jobsearch--results-group_saved &,
 .aws-jobinfo-saved--results-group_saved &,
 .aws-jobinfo-saved--results-group_applied &,
 .aws-jobinfo-applied--results-group_saved &,
 .aws-jobinfo-applied--results-group_applied & {
  width:5rem;
  @mixin atTnsm {
   width:8rem;
  }
 }
 .aws-jobinfo-saved--results-buttons & {
  padding-right: 1rem;
  padding-left: 1rem;
  &:nth-of-type(1) { width:auto; }
  &:nth-of-type(n+2) {
   width:auto;
   @mixin atSmmd {
    max-width:25%;
   }
  }
 }

 #jobalerts-view > input[type="submit"] {
  /* outline:4px solid red!!important; */
 }

 input[type="submit"][id*="MainContent_JobAlertsSummary_btnView_"],
 #MainContent_btnSave,
 #MainContent_btnCancel,
 input[name*="btnDetail"],
 input[value="Remove"],
 input[value="Edit"],
 input[name*="btnSave"],
 input[name*="btnApply"] {
  border:1px solid $silver;
 }

 @mixin atTn {
  margin: $gridgap-tn resolve($gridgap-tn) 0 0;
 }
 @mixin atSm {
  height:$buttonsmallheight-sm;
  padding:0.25rem 0.5rem 0 0.5rem;
  border-radius: resolve($buttonsmallheight-sm / 2);
 }
 @mixin atSmmd {
  margin: $gridgap-smmd resolve($gridgap-smmd) 0 0;
  padding:0.125rem 0.5rem 0 0.5rem;
  font-size:$fontsize1;
 }
 @mixin atMd {
  /* width:calc(33% - $gridgap-md - $gridgap-md); */
  height:$buttonsmallheight-md;
  margin: $gridgap-md resolve($gridgap-md) 0 0;
  padding:0.25rem 1.5rem 0.125rem 1.5rem;
  border-radius: resolve($buttonsmallheight-md / 2);
 }
 &:hover { color:black; }
 &:active {
  border:1px solid black;
  background-color: black;
  color:$primary;
 }
 &:active, &:focus {
  ie-dummy: expression(this.hideFocus=true);
  outline:none;
 }
 @mixin edge_ie { padding:0.375rem 0.5rem 0.4375rem 0.5rem; }
 &:only-child {
  margin-left: 0;
 }
}

#jobalerts-view > input[value="New saved search"] {
 @mixin uptoSm {
  margin-top: 0;
  margin-bottom:$gridgap;
 }
}

.aws-dashbaord--ascontact input[type="submit"] {
 margin-top: 0.5rem;
}
#MainContent_divJobAlerts {
 display:block;
 position: absolute;
 top:0;
 right:0;
 width:auto;
 margin-top: -0.375rem;
 padding-right:0.25rem;

 /* text-align: right; */
 /* background-color: color(pink a(35%)); */
 input[type="submit"] {
  display:block;
  width:auto;
  height:$buttonsmallheight-sm;
  margin: 0 0 $gridgap auto;
  padding:0.4375rem 0.75rem 0.125rem 0.75rem;
  border-radius: 2rem;
  background-color: white;
  /* background-image:$alert_bell; */
  background-position:100% center;
  background-repeat: no-repeat;
  background-size:contain;
  color:$slate;
  font-family:$fontfam3;
  font-size:$fontsize0;
  font-weight:normal;
  line-height: 1;
  cursor:pointer;
  transition: background-color $transtime ease-in-out;
  &:hover, &:active {
   background-color: $primary;
  }
  /* @mixin ie { background-image:$alert_bell_png; */
  }
  @mixin atTn { margin: 0 0 $gridgap-tn auto; }
  @mixin atSm {
   height:$buttonsmallheight-sm;
   margin: -0.75rem -2.25rem $gridgap-tn auto;
   padding:0.3125rem 2.1875rem 0 0.75rem;
  }
  @mixin atSmmd {
   margin: -0.5rem -2.375rem $gridgap-smmd auto;
   padding:0.125rem 2.375rem 0 0.75rem;
   font-size:$fontsize1;
  }
  @mixin atMd {
   height:$buttonsmallheight-md;
   margin: -0.6875rem -2.5rem $gridgap-md auto;
   padding:0.3125rem 2.5rem 0.125rem 0.75rem;
  }
  @mixin edge_ie {
   padding:0.375rem 2.375rem 0.375rem 0.75rem;
  }
 }

.aws-login-logout #MainContent_lnkbLogout {
 padding:0.4375rem 2.375rem 0.125rem 0.75rem;
 @mixin atSm {
  padding:0.3125rem 2.375rem 0 0.75rem;
 }
 @mixin atSmmd {
  padding:0.125rem 2.375rem 0 0.75rem;
 }
 @mixin atMd {
  padding:0.3125rem 2.5rem 0.125rem 0.75rem;
 }
 @mixin edge_ie {
  padding:0.375rem 2.375rem 0.375rem 0.75rem;
 }
}
.aws-register-form--register#divregister input[type="submit"] {
 display:block;
 position: relative;
 margin-top:resolve($gridgap * 2);
 margin-right: auto;
 margin-bottom:resolve($gridgap * 4);
 margin-left: auto;

 @mixin atTn {
  margin-top: resolve($gridgap-tn * 2);
  margin-bottom: resolve($gridgap-tn * 4);
 }

 @mixin atSmmd {
  margin-top: resolve($gridgap-smmd * 1.5);
  margin-right: 0;
  margin-bottom: resolve($gridgap-smmd * 2);
  margin-left: 0;
 }

 @mixin atMd {
  margin-top: resolve($gridgap-md * 2);
  margin-bottom: resolve($gridgap-md * 4);
 }
}
#MainContent_btnRemoveExpiredSavedJobs {
 margin-bottom:resolve($gridgap * 1);
 border:1px solid $silver;
 @mixin atTn {margin-bottom:resolve($gridgap-tn * 1);}
 @mixin atSmmd {margin-bottom:resolve($gridgap-smmd * 1);}
 @mixin atMd {margin-bottom:resolve($gridgap-md * 1);}
}

/* yellow button active state */
input.hs-button.primary[type="submit"],
.aws-forgot--form input[type="submit"],
#MainContent_btncountsaved,
#MainContent_btnCountApplied,
input[id^="MainContent_JobboardsSummary_btnDetail_"],
#MainContent_btnResumeProfileUpdate,
#MainContent_btnResumeProfileCreate,
input[value="See job description"],
.aws-jobalerts-results-buttons input[value="Run search"],
#MainContent_btnDeleteAllAlerts {
 transition:all $transtime ease-in-out;

 &:active {
  border:none!important;
  color:black!important;
  background-color: $primary-dark!important;
 }
}

/* #MainContent_btnRemoveExpiredAppliedJobs, */
/* #MainContent_lnkbLogout, */
input[value="New saved search"],
input[value="Update emails alerts"],
input[value="Update email alerts"]
 {
 transition:all $transtime ease-in-out;
 &:hover {
  border-color:$silver!important;
  color:$storm!important;
 }
}
/* white button active state */
.aws-dashbaord--resume-profile-buttons input[value="Edit"],
.aws-dashbaord--resume-profile-buttons input[value="Delete"],
#MainContent_btnDeleteAllResume,
#MainContent_btnCancelEmailFreq,
input[value="Remove"],
input[value="New saved search"],
input[value="Update emails alerts"],
input[value="Update email alerts"],
#MainContent_btnCreate[value="New saved search"],
#MainContent_btnRemoveExpiredAppliedJobs {
border:1px solid $slate;
margin-bottom:resolve($gridgap * 1);
@mixin atTn {margin-bottom:resolve($gridgap-tn * 1);}
@mixin atSmmd {margin-bottom:resolve($gridgap-smmd * 1);}
@mixin atMd {margin-bottom:resolve($gridgap-md * 1);}
&:active {
 border-color:black;
 background-color: white;
 color:black;
 opacity:1;
}
}
#MainContent_btnResumeProfileStart,
#MainContent_btnDeleteAllResume,
#MainContent_btnResumeProfileUpdate,
#MainContent_btnResumeProfileCancel,
.aws-dashbaord--resume-profile-buttons input[type="submit"] {
  display:inline-block;
}

#MainContent_btnResumeProfileUpdate {
 @mixin atTnsm {
  margin-right:resolve($gridgap * 0.5);
  @mixin atTn {margin-right:resolve($gridgap-tn * 0.5);}
  @mixin atSmmd {margin-right:resolve($gridgap-smmd * 0.5);}
  @mixin atMd {margin-right:resolve($gridgap-md * 0.5);}
 }
}

input.hs-button.primary[type="submit"] {
 &:hover {
  color:black!important;
 }
}
