$metacontentheight: 3rem;
.aws-blog {
 &--header {
  position: relative;
  display:block;
  margin-bottom: 1.25rem;
  @mixin atSm {
   }
  @mixin atSmmd {
   }
  @mixin atMd {
   margin-bottom: 1.5rem;
   }
  @mixin atLg {
   }
 }
 &--hero {
  position:relative;
  width:100%;
  display:block;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  min-height:$herotextheight;
  background-color: $primary;
  background-color: $primary-trans;
  transition: 0 all linear;
  &:before {
   content:'';
   top:0;
   left:0;
   width:100%;
   height:100%;
   position:absolute;
   display: block;
   background-color: $primary;
   mix-blend-mode:soft-light;
   opacity:0.85;
  }
  @mixin atTn {
  }
  @mixin atSm {
   width:75%;
   &:after {
    content:'';
    right:-resolve($herotextheight-sm/2);
    display:block;
    position:absolute;
    width:$herotextheight-sm;
    height:$herotextheight-sm;
    background-color: black;
    border-radius:50%;
   }
  }
  @mixin atMd {
   min-height:$herotextheight-lg;
   &:after {
    right:-resolve($herotextheight-lg/2);
    width:$herotextheight-lg;
    height:$herotextheight-lg;
   }
  }
  @mixin atLg {
   width:50%;
   max-width:600px;
  }
  &-text {
   position: relative;
   display:block;
   color:black;
   font-size:$fontsize-heading;
   font-weight:400;
   letter-spacing: -0.008em;
   word-spacing:-0.008em;
   line-height: 1.1;
   padding:0 resolve($marginsize * 2) 0 $marginsize;
   background-color: rgba(255,255,255,0.1);
   margin-bottom: -0.25rem;

   @mixin atSm {
    line-height: 1;
    letter-spacing: -0.015em;
    word-spacing:-0.015em;
    font-size:$fontsize-heading-sm;
    margin-bottom: 0;
    padding:1rem resolve($herotextheight-lg / 2 + 1rem) 0.75rem $marginsize-sm;
   }

   @mixin atMd {
    font-size:$fontsize-heading-md;
    line-height: 1.1;
    font-weight:700;
    padding:resolve($fontsize-heading-md / 7.5) resolve($herotextheight-md / 2 + 1rem) 0 $marginsize-md;
   }

   @mixin atLg {
    font-size:$fontsize-heading-lg;
    line-height: 1.1;
    font-weight:700;
    padding:resolve($fontsize-heading-lg / 7.5) resolve($herotextheight-lg / 2 + 1rem) 0 $marginsize-lg;
   }
  }

  &-wrapper {
   transition: 0 all linear;
   min-height:resolve($herotextheight * 3);
   padding-bottom:resolve($herotextheight / 4);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: 50% 50%;
   position: relative;
   display:block;
   display:flex;
   flex-direction: row;
   flex: 0 1 auto;
   align-items: flex-end;
   justify-content: flex-start;
   @mixin atSm {
    padding-bottom:resolve($herotextheight-sm / 3);
   }
   @mixin atMd {
    padding-bottom:resolve($herotextheight-lg / 3);
    min-height:resolve($herotextheight-md * 3);
   }
   @mixin atLg {
    min-height:resolve($herotextheight-lg * 3);
   }
  }
 }
 &--topics {
  @mixin atSm {
  }
  @mixin atMd {
   margin-top: resolve($elementgap * 1.375);
  }
  @mixin atLg {
  }
 }
}
.aws-blog {
 h2 {
  color:black;
  a { color:black; }
 }
}

.blog-listing-wrapper {
 padding-top: 0;
 @mixin atSm {
 }
 @mixin atMd {
  padding-top: 0.6875rem;
  padding-top: resolve($elementgap * 1.5);
 }
 @mixin atLg {
 }
 & > .post-listing {
  .post-item {
   background-color: white;
   display: block;
   position: relative;
   margin-bottom: resolve($elementgap * 2)!important;
   .hs-featured-image-wrapper {
    display: block;
    position: relative;
    width:$blogimagewidth;
    @mixin atSm {
     width:$blogimagewidth-sm;
    }
    @mixin atSmmd {
     /* padding-right:resolve($elementgap); */
     /* width:$blogimagewidth-smmd; */
    }
    @mixin atMd {
     /* width:$blogimagewidth-md; */
    }
    @mixin atMdlg {
     transition: 0 all linear;
     margin-bottom: -$metacontentheight;
     padding-right:resolve($elementgap * 1.5);
     float:left;
     width:$blogimagewidth-lg;
    }
   }
   .aws-blog--listing-image {
    position: relative;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    top:0;
    padding-top:50%;
    @mixin atSmmd {
    }
    @mixin atMdlg {
     padding-top:100%;
    }
    @mixin atLg {
     }
    height:auto;
    .post-item.aws-original & {
     &:after {
      content:'ADD LOGO';
      position:absolute;
      bottom:0;
      left:0;
     }
    }
   }
   .post-header,
   .post-body,
   .aws-blog--listing-meta {
    padding-left:$contentmarginsize;
    padding-right: $contentmarginsize;
    @mixin atSm {
     padding-left:$contentmarginsize-smmd;
     padding-right: $contentmarginsize-sm;
    }
    @mixin atSmmd {
     /* padding-left:$blogimagewidth-smmd; */
     /* padding-right: $contentmarginsize-smmd; */
    }
    @mixin atMd {
     /* padding-left:$blogimagewidth-md; */
     /* padding-right: $contentmarginsize-md; */
    }
    @mixin atMdlg {
     padding-left:$blogimagewidth-lg;
     padding-right: $contentmarginsize-lg;
    }
   }
   .post-body {
    display:block;
    float:none;
    padding-bottom: $metacontentheight;
    @mixin atSmmd {
    }
    @mixin atMd {
    }
    p {
     font-size:$fontsize1!important;
     display:inline;
     line-height: $bodycopylineheight;
     a {
      &:hover, &:active {
       color:black;
      }
     }
    }
   }
   .post-header {
    padding-top: $elementgap;
    h2 {
     color:$lightcharcoal;
     margin-top: resolve($elementgap * 0.625);
     margin-bottom: resolve($elementgap * 0.5);
     font-size:$fontsize3;
     /* font-weight:400; */
     a {
     &:hover, &:active {
      color:black;
     }
    }
     @mixin atSm {
     }
     @mixin atSmmd {
      margin-top: resolve($elementgap * .25);
     }
     @mixin atMd {
      margin-top: resolve($elementgap * 0.75);
     }
     @mixin atLg {
      font-size:$fontsize4;
     }
    }
   }
   .aws-blog--listing-meta {
    position:absolute;
    right:0;
    /* margin-right:1rem; */
    bottom:$elementgap;
    width:100%;
    .aws-blog--listing-date,
    .aws-blog--listing-link {
     margin:0;
     line-height: 1;
    }
    .aws-blog--listing-date {
     color:$lightcharcoal;
     position: relative;
     float: left;
     padding:0.375rem 0 0 0;
    }
    .aws-blog--listing-link {
     a {
      transition:$transtime0 all linear;
      height:$buttonsmallheight;
      border-radius: resolve($buttonsmallheight / 2);
      border:1px solid $primary;
      color:$lightcharcoal;
      padding:0.375rem 1.5rem 0 1.5rem;
      float:right;
      /* margin-right: $elementgap; */
      &:hover, &:active {
       color:black;
       background-color: $primary;
      }
      @mixin atMd {
      }
     }
    }
   }
  }
 }
}
