.contentbg-yellow-translucent, .contentbg-yellow,
.contentbg-white-translucent, .contentbg-white,
.contentbg-black-translucent, .contentbg-black {
 .aws-section--form {
  .hs_submit {
   input[type="submit"] {
    border-radius:0!important;
    width:100%!important;
    max-width:272px!important;
    margin-top:resolve($gridgap * 2)!important;
    @mixin atTn {margin-top:resolve($gridgap-tn * 2)!important;}
    @mixin atSmmd {margin-top:resolve($gridgap-smmd * 1)!important;}
    @mixin atMd {margin-top:resolve($gridgap-md * 1)!important;}
  }
  }
 }
}


.contentbg-yellow-translucent, .contentbg-yellow {
 .aws-section--form {
  .hs_submit {
   input[type="submit"] {
    background-color: black!important;
    color:$primary!important;
    opacity:1!important;
    &:hover, &:active {
     opacity:0.7!important;
    }
   }
  }
 }
}

.contentbg-white-translucent, .contentbg-white {
 .aws-section--form {
  .hs_submit {
   input[type="submit"] {
    background-color: white!important;
    color:$slate!important;
    &:hover, &:active { color:black!important; }
   }
  }
 }
}
.contentbg-black-translucent, .contentbg-black {
 .aws-section--form {
  .hs_submit {
   input[type="submit"] {
    background-color: $primary!important;
    color:$slate!important;
    &:hover, &:active { color:black!important; }
   }
  }
 }
}
