$jobdetailsheroheight:7rem;
$jobdetailsheroheight-sm:7rem;
$jobdetailsheroheight-md:6rem;
$jobdetailsheroheight-lg:10.5rem;

form[action*="jobdetails"] .body-container-wrapper {
 background-color: $vapor;
 position: relative;
 display:block;
 /* padding-top:resolve($jobdetailsheroheight / 3)!important; */
 padding-top:resolve($navheight + 1rem)!important;
 @mixin atMd { padding-top:0!important; }
 @mixin atLg {
  padding-top:0!important;
 }
}
.aws-jobdetails {
 &--hero {
  &-wrapper {
   transition: none;
  }
  &-content {
   position:relative;
   width:100%;
   z-index:10;
   display:block;
   display:flex;
   align-items:flex-start;
   justify-content: center;
   flex-direction: column;
   padding-left: 0;
   min-height:$jobdetailsheroheight;
   background-color: $primary;
   transition: 0 all linear;
   padding-top:0.5rem;
   padding-bottom:0.5rem;
   margin-bottom: 1.5rem;
   &:before {
    content:'';
    top:0;
    width:100%;
    width:calc(50vw - 50%);
    height:100%;
    position:absolute;
    display: block;
    right:100%;
    background-color: $primary;
    z-index:-1;
   }
   @mixin atTnsm {
    width:90%;
    margin-bottom: 1.5rem;
    &:after {
     content:'';
     right:-resolve($jobdetailsheroheight-sm/2);
     display:block;
     position:absolute;
     width:$jobdetailsheroheight-sm;
     height:$jobdetailsheroheight-sm;
     background-color: black;
     top:0;
     border-radius:50%;
    }
   }
   @mixin atSm {
    width:75%;
   }
   @mixin atMd {
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    min-height:$jobdetailsheroheight-lg;
    &:after {
     right:-resolve($jobdetailsheroheight-lg/2);
     width:$jobdetailsheroheight-lg;
     height:$jobdetailsheroheight-lg;
    }
   }
   @mixin atLg {
    width:66.66%;
    max-width:640px;
   }
  }
  &-text {
   position: relative;
   display:block;
   color:black;
   font-size:$fontsize-heading;
   font-weight:400;
   letter-spacing: -0.008em;
   word-spacing:-0.008em;
   line-height: 1.1;
   padding:0 resolve($marginsize * 2) 0 $marginsize;
   background-color: rgba(255,255,255,0.1);
   margin-bottom: -0.25rem;

   @mixin atTnsm {
    line-height: 1;
    letter-spacing: -0.015em;
    word-spacing:-0.015em;
    font-size:$fontsize-heading-sm;
    margin-bottom: 0;
    padding:1rem resolve($jobdetailsheroheight-lg / 2 + 1rem) 0.75rem $marginsize-sm;
   }

   @mixin atMd {
    font-size:$fontsize-heading-md;
    line-height: 1.1;
    font-weight:700;
    padding:resolve($fontsize-heading-md / 7.5) resolve($jobdetailsheroheight-md / 2 + 1rem) 0 $marginsize-md;
   }

   @mixin atLg {
    font-size:$fontsize-heading-lg;
    line-height: 1.1;
    font-weight:700;
    padding:resolve($fontsize-heading-lg / 7.5) resolve($jobdetailsheroheight-lg / 2 + 1rem) 0 $marginsize-lg;
   }
  }

  &-wrapper {
   transition: 0 all linear;
   min-height:resolve($jobdetailsheroheight / 3);
   padding-bottom:resolve($jobdetailsheroheight / 4);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: 50% 50%;
   position: relative;
   display:block;
   display:flex;
   flex-direction: row;
   /* flex: auto; */
   align-items: flex-end;
   justify-content: flex-start;
   padding-top:1.5rem;
   @mixin atTnsm {
    padding-bottom:resolve($jobdetailsheroheight-sm / 3);
   }
   @mixin atMd {
    padding-bottom:resolve($jobdetailsheroheight-md / 3);
    min-height:resolve($jobdetailsheroheight-md / 3);
   }
   @mixin atLg {
    min-height:resolve($jobdetailsheroheight-lg / 3);
   }
  }
  &-date {
   font-size: 0.875rem;
   margin-top:-2.5875rem;
   margin-bottom:2.5875rem;
   height:0;
   overflow:visible;
   @mixin atMd {
    height:auto;
    margin-top: 0;
    margin-bottom: 0.5rem;
    }
   &:after {
    display:block;
    width:0;
    height:1rem;
    content:'';
    position: relative;
    @mixin atMd { content:none; }
   }
  }
  &-title {
   border:2px solid foof;
   position: relative;
   display:block;
   color:black;
   font-size:$fontsize-heading;
   font-weight:400;
   letter-spacing: 0.008em;
   word-spacing:-0.008em;
   line-height: 1.1;
   padding:0 resolve($marginsize * 2 + 2rem) 0 0;
   @mixin atTnsm {
    line-height: 1;
    letter-spacing: 0.015em;
    word-spacing:-0.015em;
    font-size:$fontsize-heading-sm;
    margin-bottom: 0;
   }
   @mixin atSm {
    padding-right:resolve($marginsize-sm * 2 + 2rem);
}
   @mixin atMd {
    padding-right: resolve($marginsize-md * 2 + 1rem);
    font-size:$fontsize-heading-md;
    line-height: 1.1;
    font-weight:700;
   }

   @mixin atLg {
    padding-right: resolve($marginsize-lg * 2 - 1rem);
    font-size:$fontsize-heading-lg;
    line-height: 1.1;
    font-weight:700;
   }
  }
  &-location {
   /* margin-top: 0.25rem; */
   margin:0;
   height:0;
   overflow:visible;
   @mixin atMd {
    height:auto;
    margin-top:0.5rem;
    }
   &:before {
    display:block;
    width:0;
    height:1.5rem;
    content:'';
    position: relative;
    @mixin atMd { content:none; }
   }
  }
 }
 table {
  td {
   border:none!important;
  }
 }
 &--backlink {
  a {
   display: inline-block;
   position: relative;
   padding:0.75rem 0 0.875rem 0;
   font-family:$fontfam4;
   font-weight:normal;
   letter-spacing:0.05em;
   line-height: 1;
   text-align:center;
   @mixin atSmmd {
    display:block;
    margin-top:resolve($marginvertical / 2);
    background-color: transparent;
    text-align:left;
   }
   &:before {
    display:inline-block;
    position:relative;
    bottom:-0.2ex;
    margin-top:-0.5ex;
    margin-right: 0.25ex;
    font-family:'aws_icons';
    font-size:133%;
    content:'\e817';
   }
   @mixin atSm { text-align:left; }
  }
 }
}
label[for^="MainContent_ctl00_sTitle"] {
  margin-bottom: 0.675rem;
  font-size:1.25rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
  @mixin atMd {
   font-size:$fontsize4;
  }
  &.smaller {
   font-size:1.125rem;
   letter-spacing: 0;
   @mixin atLg {
    font-size:1.25rem;
    letter-spacing: -0.01em;
    margin-bottom: 0.5rem;
   }
  }
}
label[for^="MainContent_ctl00_sDesc"],
label[for^="MainContent_ctl00_lblLocation"] {
 margin-top: 0.5rem;
 font-size:$fontsize0;
}
label[for^="MainContent_ctl00_lblLocation"] {
}
#MainContent_DetailsView1 {
 tr {
  td {
   border:none;
   &:first-child {
    display:none;
   }
  }
 }
}
#MainContent_ctl00 {

}
