.aws-jobsearch--page {
 box-sizing: border-box;
 display:block;
 z-index:1;
 position:relative;
 padding:$marginsize 0 $marginsize 0;
 /* x */
 overflow:visible;
 background-color: $mist;
 background-color: $mist; &:before, &:after { background-color: $mist; }
 &:before, &:after {
  position:absolute;
  top:0;
  height:100%;
  content:'';
 }
 &:before {
  z-index:-1;
  left:0;
  width:50%;
  width:calc(50vw - 25%);
  /* margin-left:-100%; */
  transform:translateX(-100%);
  transform:translateX(calc(-100% + 1px));
  /* margin-left:calc(-50vw + 25%); */
 }
 &:after {
  z-index:-1;
  right:0;
  width:50%;
  width:calc(50vw - 25%);
  /* transform:translateX(100%); */
  transform:translateX(calc(100% - 1px));
 }
 @mixin atTn { padding: $marginvertical-sm 0 $marginvertical-sm 0; }
 @mixin atSmmd { padding: $marginvertical-smmd 0 $marginvertical-smmd 0; }
 @mixin atMd { padding:$marginvertical-md 0 $marginvertical-md 0; }
 @mixin atLg { padding:$marginvertical-lg 0 $marginvertical-lg 0; }
 & > div {
  display:block;
  @mixin atMd {
   /* width:25%; */
   /* float:left; */
   background-color: transparent;
  }
 }

 * {z-index:1;}

 &:after {
  display:table;
  clear:both;
  content:'';
 }
}

.aws-jobsearch--hero-wrapper:first-child {
 position:absolute;
 top:0;
 left:0;
 width:25%;
 /* left rail */
 /* background-color: orange; */

}

#search_frm {
 @mixin atMd {
  display:block;
  position:relative;
  padding-left:25%;
 }
}
.aws-jobsearch--hero-content {

 /* background-color: green; */
}
.aws-jobsearch--parameters,
.aws-jobsearch--results {
 display: block;
 position: relative;
 /* float:left; */
}
.aws-jobsearch--parameters {
 /* &:before {content:'.aws-jobsearch--parameters';} */
 * { width:100%; }
 margin-top:0.125rem;
 margin-bottom: $gridgap;
 @mixin atMd {
  margin-top:0;
  box-sizing: border-box;
  position:absolute;
  top:$marginsize;
  padding-right:resolve($gridgap-md * 2);
  @mixin atTn { top: $marginvertical-sm; }
  @mixin atSmmd { top: $marginvertical-smmd; }
  @mixin atMd { top:$marginvertical-md 0; }
  @mixin atLg { top:$marginvertical-lg 0; }
  left:0;
  width:25%;
 }
 @mixin atLg {
  margin-top:0.375rem;
 }
 #MainContent_btnSeach {
  margin-left: 0;
  height:$buttonsmallheight;
  background-color: $primary;
  color:black;
  margin-top:$gridgap;
  margin-bottom:resolve($gridgap * 2);
  position: relative;
  display: block;
  @mixin atTn {
   margin-top:$gridgap-tn;
   margin-bottom:resolve($gridgap-tn * 2);
  }
  @mixin atSm {
   height:$buttonsmallheight-sm;
  }
  @mixin atSmmd {
   margin-top:$gridgap-smmd;
   margin-bottom:resolve($gridgap-smmd * 2);
  }
  @mixin atMd {
   margin-top:$gridgap-md;
   height:$buttonsmallheight-md;
   margin-bottom:resolve($gridgap-md * 2);
  }
 }
}
.aws-jobsearch--results {
 /* &:before {margin-left:0.25rem;content:' .aws-jobsearch--results';} */
 @mixin atMd {
  width:75%;
  margin-left:25%;
 }
 /* background-color: orange; */
 div { position: relative; }
}
#MainContent_JobboardsSummary_itemPlaceholderContainer {
 ul {
  list-style-type: none;
  margin:0;
  padding:0;
 }
 div > div {
  &:after {
   content:'';
   clear:both;
   display:table;
  }
 }
 display:block;
 position: relative;
 &:after {
  display:table;
  clear:both;
  content:'';
 }
 & > div {
  display:block;
  position: relative;
  left:0;
  margin-bottom:$gridgap;
  padding:$gridgap;
  background-color: white;
  /* &:first-child:not(.saved) {border:3px solid green;}
  &:first-child:not(.saved):before {
   position:absolute;
   left:30%;
   top:20%;
   color:green;
   font-family:$fontfam2;
   font-size:$fontsize0a;
   content:'Add class .aws-jobsearch--results-group (1st descendant of #MainContent_JobboardsSummary_itemPlaceholderContainer)';
  } */

  @mixin atTn {
   margin-bottom: $gridgap-tn;
   padding: $gridgap-tn;
  }
  @mixin atSmmd {
   margin-bottom: $gridgap-smmd;
   padding: $gridgap-smmd;
  }
  @mixin atMd {
   margin-bottom:$gridgap-md 0;
   padding:$gridgap-md;
  }
 }
 a[href*="jobdetails.aspx?jobId"] {
  /* job heading */
  font-family:$fontfam4;
  font-size:$fontsize3;
  @mixin atLg {
   font-size:$fontsize4;
  }
 }
 input[name*="btnDetail"],
 input[name*="btnSave"],
 input[name*="btnApply"] {
  margin-top: $gridgap;
  box-sizing: border-box;
  transition:$transtime0 all linear;
  height:$buttonsmallheight;
  border-radius: resolve($buttonsmallheight / 2);
  border:1px solid $cloud;
  color:$slate;
  display:block;
  float:left;
  line-height: 1;
  padding:0.3125rem 1.5rem 0 1.5rem;
  /* float:right; */
  font-family:$fontfam3;
  font-weight:normal;
  font-size:$fontsize1;
  line-height: 1;
  @mixin atTn {
   margin-top: $gridgap-tn;
  }
  @mixin atSm {
   height:$buttonsmallheight-sm;
   border-radius: resolve($buttonsmallheight-sm / 2);
  }
  @mixin atSmmd {
   margin-top: $gridgap-smmd;
  }
  @mixin atMd {
   margin-top: $gridgap-md;
   width:30%;
   padding:0.25rem 1.5rem 0.125rem 1.5rem;
   width:calc(33% - $gridgap-md - $gridgap-md);
   border-radius: resolve($buttonsmallheight-md / 2);
   height:$buttonsmallheight-md;
  }

  &:hover, &:active {
   border:1px solid $primary;
   color:black;
   background-color: $primary;
  }
  &:active, &:focus {
   outline:none;
  }
 }
 input[name*="btnDetail"] {
  background-color: $primary;
  border-color:$primary;
  margin-left: -$gridgap-md;
 }
 input[name*="btnSave"] {
  .saved div & {
   background-color:$mist!important;
  }
 }
 input[name*="btnApply"] {
  margin-right: -$gridgap-md;
 }
 .saved input[name*="btnSave"] {
  background-color:$mist;
  color:$cloud;
  border:$mist;
 }

}

#MainContent_JobboardsSummary_DataPager1 {
 display:block;
 position: relative;
 width:100%;
 text-align: center;
 box-sizing: border-box;
 .PagerCurrent {
  width:2rem;
  background-color: $primary;
  border-color:$primary;
 }
 font-size:0;

 a, span {
  border:1px solid $cloud;
  display:inline-block;
  position:relative;
  width:auto;
  min-width:2rem;
  height:2rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  padding:0.25rem 0.625rem;
  border-radius:2rem;
  font-family:$fontfam2;
  line-height: 1.5;
  font-size:$fontsize1;
  /* &:before {
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:2rem;
  height:2rem;
  border-radius:1rem;
  background-color: grey;
  content:'';
  opacity:0.4;
  } */
 }
 a {
  transition:all $transtime0 ease-in-out;
  &:hover, &:active {
   border-color:white;
   background-color: white;
  }
 }
}

[id*="MainContent_JobboardsSummary_lblRelevance"] {
 overflow:visible;
 width:100%;
 margin:0;
 height:0;
 line-height: 1;
 font-size:$fontsize0;
 color:$slate;
 text-align:right;
 position:relative;
 right:0;
 top:0.375ex;
}
/* markup notes */
/* .added-header,
.aws-jobsearch--results-summary,
.aws-jobsearch--results-buttons,
.aws-jobsearch--parameters,
.aws-jobsearch--results,
.saved {
 outline:2px solid red;
 &:before {
  position:absolute;
  color:red;
  top:-1.25rem;
  left:0;
  font-family:$fontfam3;
  font-size:$fontsize0a;
 }
}
.added-header {
 border:2px solid red;
 &:before {
  left:0.75rem;
  top:0.75rem;
  content:'[See attached file" "searchheader.html". Add contents as first child inside <div class="body-container container-fluid">';
  z-index:1000;
 }

}
.aws-jobsearch--results-buttons,
.aws-jobsearch--results-summary {

outline-color:purple;
&:before {
left:auto;
top:-1.5rem;
right:0;
 color:purple;content:'.aws-jobsearch--results-buttons';
 background-color: white;
 padding:0.125rem 0.125rem 0.125rem 0.5rem;
 text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
}
}
.aws-jobsearch--results-summary {
 &:before {
  content:'.aws-jobsearch--results-summary';
 }
}
.saved {
 outline:2px solid blue;
 &:before {
  content:'Add class .saved (when applicable) to 1st descendant of #MainContent_JobboardsSummary_itemPlaceholderContainer';
  color:blue;
  opacity:0.5;
  top:20%;
  left:30%;
  z-index:1000;
  text-shadow:0 0 4px white, 0 0 4px white, 0 0 4px white;
 }
} */
