.aws-menu--phone {
 min-width:100%;
 text-align: center;
 background-color: $primary;
 line-height: 1;
 border-radius:1rem;
 min-height:1.875rem;
 padding:0.5rem 0.25rem 0 0.25rem;
 letter-spacing: 0.02em;
 font-size:$fontsize1;
 position:relative;
 right:0;
 top:0;
 display:none;
 @mixin atMd {
  display:block;
  position:absolute;
  top:auto;
  bottom:0.75rem;
  width:calc(100% + 4rem);
  right:-4rem;
  bottom:$marginvertical-md;
 }
 @mixin atLg {
  right:0;
  width:100%;
  bottom:$marginvertical-md;
  font-size:$fontsize2;
 }
}
