.aws-menu--hero1,
.aws-menu--hero2 {
 margin-left: 0;
 position:relative;
 top:resolve($marginvertical-md / 2);
 right:0;
 width:100%;
 padding:0;
 display:none;

 @mixin atMd {
  display:block;
  position:absolute;
  width:20%;
  margin-left: auto;
  right:2.75rem;
 }
 @mixin atLg {
  right:0;
 }
 .aws-menu--hero-content {
  display:block;
  position:relative;
  width:100%;
  height: 0;
  padding-right: 0;
  padding-left: 0;
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
  @mixin atMd {
   padding-top: 0;
   min-height:10.5rem;
   width:calc(100% + 4rem);
  }
  @mixin atLg {
   padding-top: 75%;
   min-height:auto;
   width:100%;
  }
  span {
   display:block;
   position:absolute;
   width:100%;
   padding:0.5rem 0;
   background: $primary-trans;
   line-height: 1;
   text-align: center;
   &:before {
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    display: block;
    background-color: $primary;
    mix-blend-mode:soft-light;
    opacity:1;
   }
   @mixin atMd {
    bottom:0;
    left: 0;
   }
   @mixin atLg {
    width:calc(100% - 1.5rem);
    bottom:0.75rem;
    left: 0.75rem;
   }
   @mixin atXl {
    width:calc(100% - 2rem);
    bottom:1rem;
    left: 1rem;
   }
  }
 }
}
